<!-- <div class="container">
    <div class="card text-center p-5 ">
      <div class="card-title">
        <h3>Welcome to the online test</h3>
      </div>
      <div class="card-body">
        <a class="btn btn-primary text-light">
          Enter the Test
        </a>
      </div>
    </div>
</div> -->

<!-- <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card text-center mt-5 p-4">
            <div class="card-title">
                <h2> Welcome to the QuizLynk</h2>
                <h4>Testing your backend and frontend skills</h4>
                <p>When you click on the button you will immediately start the quiz</p>
            </div>
            <div class="card-body">
                <button class="btn btn-primary" (click)="startQuiz()">Start Quiz</button>
                &nbsp;&nbsp;&nbsp;
                <button class="btn btn-primary" (click)="displayFrontendQuiz">Frontend</button> 
            </div>
        </div>
    </div>
</div> -->
